<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>AI Recipe Generator</title>
</head>
<body>
    <div class="container">
        <input type="text" name="ingredients" id="ingredients" placeholder="Enter your ingredients here (comma seperated)">
        <button onclick="generateRecipe()"> Generate Recipe</button>
        <button onclick = "copytoClipboard()">Copy</button>
        <div id="recipe"></div>
    </div>
    <script src="../static/index.js"></script>
    
</body>
</html>